body {
    margin: 0px;
    font-family: sans-serif;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
    
    header {
    color: white;
    background-color: red;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    display: inline-block;
    z-index: 200;
    }
    
    .menu {
        width: 250px;
        background-color: #f4f4f4;
        padding: 0px;
        height: 100vh; 
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 130px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        display: none; 
        overflow-y: auto;
        padding-bottom: 20px;
        z-index: 100;
        text-align: center;
    }
    .menu_button {
        height: 35px;
        width: 70px;
        border: none;
        border-radius: 5px;
        color: #ff0000;
        background-color: #ffffff;
        cursor: pointer;
        display: none;
        text-decoration: none;
    }

    .menu_button:hover {
        border: 1px solid white;
        background-color: #ff0000;
        color: white;
    }
    .menu a {
        color: rgb(255, 0, 0);
        background-color: #f4f4f4;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }
    .menu a:hover {
        background-color: #ff0000;
        color: #ffffff;
    }

    nav a {
        border-radius: 5px;
        color: #ffffff;
        border:2px solid #ffffff;
        background-color: #ff0000;
        text-decoration: none;
        padding: 5px;
        margin: 2px;
    }
    @media (max-width: 1340px) {
        nav {
            display: none;
        }
        .menu_button {
            display: inline-block;
        }
        header {
            text-align: left;
        }
    }
    
    main {
        padding-top: 150px;
    }
    main article {
        border: 1px solid red;
        width: 70%;
        height: 150px;
        border-radius: 5px;
        align-items: center;
        margin: 10px;
        margin: 10px auto;
    }
    .image_tovar {
        height: 150px;
        width: 220px;
        border-radius: 5px 0 0 5px;
        float: left;
    }

.title_product {
    padding: 20px;
    color: red;
    font-size: 20px;
    padding-top: 20px;
    text-align: left;
}
#description_button, #order_button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    font-size: 15px;
    margin: 5px;
}
@media(max-width:600px) {
    .image_tovar {
        border-radius: 5px 5px 0 0;
    }
    main article {
        width: 220px;
        height: 250px;
        text-align: center;
    }
}
    footer {
        background-color: rgb(255, 0, 0);
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 1%;
        bottom: 0px;
        width: 100%; 
        bottom: 0;
     }
     .Telegram_channel {
        text-decoration: none;
        background-color: rgb(250, 108, 83);
        color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 10px;
        font-size: 120%;
        display: inline-block;
    }
    .Telegram_channel:hover {
        background-color: rgb(83, 133, 250);
    
    }
    @media (max-width: 600px) {
        .Telegram_channel {
            display: block;
            width: 50%
        }
    }
