body {
    margin: 0px;
    font-family: sans-serif;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
    
    header {
    color: white;
    background-color: red;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    display: inline-block;
    z-index: 300;
    }
    
    .menu {
        width: 250px;
        background-color: #f4f4f4;
        padding: 0px;
        height: 100vh; 
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 130px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        display: none; 
        overflow-y: auto;
        padding-bottom: 20px;
        text-align: center;
        z-index: 250;
    }
    .menu_button {
        height: 35px;
        width: 70px;
        border: none;
        border-radius: 5px;
        color: #ff0000;
        background-color: #ffffff;
        cursor: pointer;
        display: none;
        text-decoration: none;
    }

    .menu_button:hover {
        border: 1px solid white;
        background-color: #ff0000;
        color: white;
    }
    .menu a {
        color: rgb(255, 0, 0);
        background-color: #f4f4f4;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }
    .menu a:hover {
        background-color: #ff0000;
        color: #ffffff;
    }

    nav a {
        border-radius: 5px;
        color: #ffffff;
        border:2px solid #ffffff;
        background-color: #ff0000;
        text-decoration: none;
        padding: 5px;
        margin: 2px;
    }
    .section_topics {
        background-color: white;
        height: 100px;
        position: fixed;
        z-index: 200;
        width: 1000vh;
        margin: 0;
    }
    .content_of_topics {
        width: 250px;
        background-color: #ff0000;
        position: fixed;
        right: 2%;
        top: 5%;
        padding-bottom: 0px;
        text-align: center;
        margin-top: 120px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        z-index: 200;
    }
    .content_of_topics a {
        color: rgb(255, 255, 255);
        background-color: #ff0000;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }

    .content_of_topics a:hover {
        color: rgb(255, 0, 0);
        background-color: #f4f4f4;
    }

    #button_contents {
        color: rgb(255, 255, 255);
        background-color: #ff0000;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        border:none;
        border-radius: 5px;
    }

    #content {
        display: none;
    }
    @media (max-width: 1324px) {
        nav {
            display: none;
        }
        .menu_button {
            display: inline-block;
        }
        header {
            text-align: left;
        }
    }
/* Стили содержимого новостей  */




    main {
        padding-top: 100px;
        text-align: center;
        margin: 10px;
    }

    .container_news {
        margin-top: 90px;
    }

article img {
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 0 0;
}    
article {
    border: 1px solid red;
    width: 300px;
    border-radius: 10px;
    color: #ff0000;
    padding-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    margin-top: 15px;
}
article h3 {
    color: #ff0000;
}
